# Project: Gapminder Life Expectancy, Income, and Energy Data Analysis

## Table of Contents
<ul>
<li><a href="#intro">Introduction</a></li>
<li><a href="#wrangling">Data Wrangling</a></li>
<li><a href="#eda">Exploratory Data Analysis</a></li>
<li><a href="#conclusions">Conclusions</a></li>
</ul>

<a id='intro'></a>
## Introduction

In this project, I will be analyzing the life expectancy, income, and energy consumption datasets from [Gapminder.org](https://www.gapminder.org/data/).

In particular, we'll be interested in finding trends on how income affects each country's life expectancy and the impacts to CO2 emissions.

In [1]:
# import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

<a id='wrangling'></a>
## Data Wrangling

> **Tip**: In this section of the report, you will load in the data, check for cleanliness, and then trim and clean your dataset for analysis. Make sure that you document your steps carefully and justify your cleaning decisions.

### General Properties

#### Life Expectancy Dataset

First we will be looking at the life expectancy dataset to build some intuition around what's included.

From the Gapminder's description, the life expectancy datset is the average number of years a newborn child would live if current mortality patterns were to stay the same.

In [2]:
# load data csv files
df_le = pd.read_csv('data/life_expectancy_years.csv')

In [3]:
# how many total rows and columns do we have?
df_le.shape

(187, 220)

There are 187 rows and 220 columns.

In [4]:
# what does a sample of the data look like?
df_le.head(3)

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,Afghanistan,28.2,28.2,28.2,28.2,28.2,28.2,28.1,28.1,28.1,...,55.7,56.2,56.7,57.2,57.7,57.8,57.9,58.0,58.4,58.7
1,Albania,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,35.4,...,75.9,76.3,76.7,77.0,77.2,77.4,77.6,77.7,77.9,78.0
2,Algeria,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,28.8,...,76.3,76.5,76.7,76.8,77.0,77.1,77.3,77.4,77.6,77.9

From the sample data, we can infer there are 187 rows of countries.  The first column is the country names and columns 2-220 correspond with the years 1800-2018.

In [5]:
# what are some general statistics of the data?
df_le.describe()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
count,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,184.000000,...,187.000000,187.000000,187.000000,187.00000,187.000000,187.000000,187.000000,187.000000,184.000000,184.000000
mean,31.502717,31.461957,31.478804,31.383152,31.459239,31.586413,31.644565,31.598370,31.383152,31.310326,...,70.001070,70.225668,70.659358,71.05615,71.399465,71.622995,71.933690,72.206952,72.422283,72.658152
std,3.814689,3.806303,3.938674,3.962376,3.934674,4.010884,4.110598,3.981247,4.087872,4.040580,...,8.832102,9.050710,8.439841,8.18101,7.996165,7.889169,7.605557,7.414169,7.331040,7.252807
min,23.400000,23.400000,23.400000,19.600000,23.400000,23.400000,23.400000,23.400000,12.500000,13.400000,...,45.400000,32.100000,47.500000,47.90000,48.000000,48.400000,49.600000,50.300000,50.800000,51.100000
25%,29.075000,28.975000,28.900000,28.900000,28.975000,29.075000,29.075000,29.075000,28.975000,28.875000,...,63.400000,63.900000,64.300000,65.00000,65.350000,65.550000,66.050000,66.650000,66.900000,67.100000
50%,31.750000,31.650000,31.550000,31.500000,31.550000,31.650000,31.750000,31.750000,31.550000,31.500000,...,72.500000,72.600000,72.700000,72.80000,72.900000,73.000000,73.300000,73.500000,73.700000,74.050000
75%,33.825000,33.900000,33.825000,33.625000,33.725000,33.825000,33.925000,33.925000,33.725000,33.625000,...,76.600000,76.700000,76.900000,77.00000,77.200000,77.350000,77.500000,77.650000,77.825000,78.025000
max,42.900000,40.300000,44.400000,44.800000,42.800000,44.300000,45.800000,43.600000,43.500000,41.700000,...,82.700000,82.800000,82.900000,83.20000,83.400000,83.600000,83.800000,83.900000,84.000000,84.200000

With the describe function, we can see at a glance that life expectancy is generally rising over time and that the variance seems to be increasing over time as well.

Is there any duplicate data?

In [6]:
# how many duplicate rows do we have?
df_le.duplicated().sum()

0

Lucky us, no duplicates!  What about missing values?

In [7]:
# is there any missing data?
df_le[df_le['1800'].isnull()]

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,82.7,82.7,82.6,82.6,82.6,82.6,82.5,82.5,NaN,NaN
48,Dominica,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,73.4,73.0,73.0,72.9,72.7,72.7,71.7,73.0,NaN,NaN
105,Marshall Islands,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63.5,63.7,63.9,64.1,64.3,64.5,64.7,65.0,NaN,NaN

Since there are only a few values missing, we will do a linear interpolation to fill in these values.

In [8]:
# fill in null values with linear interpolation
df_le.interpolate(inplace=True)

In [9]:
# check to see if additional data is missing
df_le[df_le['1801'].isnull()]

Empty DataFrame
Columns: [country, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, ...]
Index: []

[0 rows x 220 columns]

Otherwise, it looks like this data is fairly clean!  Let's go ahead and do the same things for the next two datasets.

#### Income Per Person

From Gapminder's description, this dataset is the gross domestic product per person adjusted for differences in purchasing power (inflation).

In [10]:
df_inc = pd.read_csv('data/income_per_person_gdppercapita_ppp_inflation_adjusted.csv')

In [11]:
# how many rows and columns do we have?
df_inc.shape

(193, 242)

In [12]:
# what does a sample of the data look like?
df_inc.head(3)

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040
0,Afghanistan,603,603,603,603,603,603,603,603,603,...,2420,2470,2520,2580,2640,2700,2760,2820,2880,2940
1,Albania,667,667,667,667,667,668,668,668,668,...,18500,18900,19300,19700,20200,20600,21100,21500,22000,22500
2,Algeria,715,716,717,718,719,720,721,722,723,...,15600,15900,16300,16700,17000,17400,17800,18200,18600,19000

From the data shape and sample we can see there are additional countries in this dataset compared to the life expectancy dataset.  Also, it appears that the income dataset is projected out to 2040 whereas the life expectancy dataset stops at 2018.

In [13]:
# what are some general statistics of the data?
df_inc.describe()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2031,2032,2033,2034,2035,2036,2037,2038,2039,2040
count,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,...,193.000000,193.000000,193.000000,193.000000,193.000000,193.000000,193.00000,193.000000,193.000000,193.000000
mean,947.782383,948.269430,951.217617,950.911917,952.772021,953.202073,954.305699,953.979275,950.911917,952.202073,...,23851.284974,24367.823834,24912.518135,25465.181347,26028.062176,26607.435233,27199.07772,27804.968912,28415.119171,29039.730570
std,508.348372,506.753967,516.692581,511.552526,518.974690,513.492023,514.667191,508.132446,490.318368,492.600302,...,24946.900512,25460.500225,26036.659984,26630.953200,27203.647785,27809.921089,28446.04490,29092.365685,29694.419993,30348.528109
min,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,350.000000,...,718.000000,734.000000,750.000000,767.000000,784.000000,801.000000,819.00000,837.000000,856.000000,875.000000
25%,608.000000,608.000000,608.000000,609.000000,609.000000,609.000000,610.000000,610.000000,610.000000,611.000000,...,4840.000000,4950.000000,5060.000000,5170.000000,5290.000000,5400.000000,5520.00000,5650.000000,5770.000000,5900.000000
50%,847.000000,847.000000,847.000000,847.000000,848.000000,848.000000,849.000000,850.000000,850.000000,851.000000,...,15600.000000,15900.000000,16300.000000,16700.000000,17000.000000,17400.000000,17800.00000,18200.000000,18600.000000,19000.000000
75%,1100.000000,1100.000000,1110.000000,1110.000000,1110.000000,1120.000000,1120.000000,1130.000000,1130.000000,1140.000000,...,35900.000000,36700.000000,37500.000000,38400.000000,39200.000000,40100.000000,41000.00000,41900.000000,42800.000000,43800.000000
max,4230.000000,4160.000000,4390.000000,4300.000000,4500.000000,4240.000000,4270.000000,3910.000000,3480.000000,3430.000000,...,150000.000000,153000.000000,156000.000000,160000.000000,163000.000000,167000.000000,171000.00000,175000.000000,178000.000000,182000.000000

As expected, the average income per person increases over time.  The level of inequailty seems to also increase over time as well.

In [14]:
# how many duplicate rows do we have?
df_inc.duplicated().sum()

0

In [15]:
# is there any missing data?
df_inc.isnull().sum()

country    0
1800       0
1801       0
1802       0
1803       0
1804       0
1805       0
1806       0
1807       0
1808       0
1809       0
1810       0
1811       0
1812       0
1813       0
1814       0
1815       0
1816       0
1817       0
1818       0
1819       0
1820       0
1821       0
1822       0
1823       0
1824       0
1825       0
1826       0
1827       0
1828       0
          ..
2011       0
2012       0
2013       0
2014       0
2015       0
2016       0
2017       0
2018       0
2019       0
2020       0
2021       0
2022       0
2023       0
2024       0
2025       0
2026       0
2027       0
2028       0
2029       0
2030       0
2031       0
2032       0
2033       0
2034       0
2035       0
2036       0
2037       0
2038       0
2039       0
2040       0
Length: 242, dtype: int64

There are no duplicated rows and there is no missing data for the income per person dataset.

#### Carbon Dioxide Emissions Per Person
From Gapminder's description, this is the amount of carbon dioxide emissions from the burning of fossil fuels in metric tonnes of CO2 per person.

In [16]:
# load data csv files
df_co2 = pd.read_csv('data/co2_emissions_tonnes_per_person.csv')

In [17]:
# how many rows and columns do we have?
df_co2.shape

(192, 216)

This dataset also has a different number of rows and columns from previous two datasets as well.

In [18]:
# what does a sample of the data look like?
df_co2.head(3)

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0529,0.0637,0.0854,0.154,0.242,0.294,0.412,0.35,0.316,0.299
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.3800,1.2800,1.3000,1.460,1.480,1.560,1.790,1.68,1.730,1.960
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.2200,2.9900,3.1900,3.160,3.420,3.300,3.290,3.46,3.510,3.720

In [19]:
# what are some general statistics of the data?
df_co2.describe()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
count,5.000000,5.000000,7.000000,5.000000,6.000000,5.000000,5.000000,6.000000,5.000000,5.000000,...,190.000000,190.000000,191.000000,191.000000,191.000000,191.000000,191.000000,192.000000,192.000000,192.000000
mean,0.456096,0.450782,0.620493,0.495536,0.425787,0.510852,0.528458,0.454672,0.516694,0.510382,...,4.632572,4.696715,4.700221,4.720091,4.506879,4.604666,4.550413,4.526914,4.465214,4.440085
std,0.952620,0.944430,0.994357,1.042398,0.938020,1.056255,1.102275,0.987935,1.075319,1.062071,...,6.738075,6.943929,6.706373,6.494926,6.157124,6.175062,6.099754,6.145365,5.861904,6.065368
min,0.005680,0.005610,0.005550,0.005480,0.005420,0.005360,0.005290,0.005230,0.005170,0.005110,...,0.020800,0.024400,0.023600,0.023200,0.022500,0.024300,0.026800,0.030300,0.030200,0.044500
25%,0.034800,0.023300,0.032500,0.023100,0.043825,0.044500,0.040000,0.041025,0.037900,0.039200,...,0.630250,0.611500,0.595500,0.587500,0.540500,0.607000,0.636500,0.613750,0.669500,0.659000
50%,0.037200,0.038600,0.047000,0.041200,0.046350,0.045600,0.043700,0.050150,0.049500,0.047700,...,2.140000,2.210000,2.230000,2.340000,2.400000,2.410000,2.410000,2.470000,2.420000,2.265000
75%,0.042800,0.046400,1.047950,0.047900,0.066800,0.058800,0.053300,0.098425,0.050900,0.049900,...,6.545000,6.425000,6.435000,6.535000,5.865000,6.120000,6.220000,6.100000,5.832500,5.695000
max,2.160000,2.140000,2.130000,2.360000,2.340000,2.400000,2.500000,2.470000,2.440000,2.410000,...,58.900000,62.800000,53.200000,46.700000,43.500000,40.700000,41.200000,44.600000,37.800000,45.400000

In [20]:
# how many duplicate rows do we have?
df_co2.duplicated().sum()

0

In [21]:
# is there any missing data?
df_co2[df_co2['1800'].isnull()]

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0529,0.0637,0.0854,0.1540,0.2420,0.2940,0.4120,0.3500,0.3160,0.2990
1,Albania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.3800,1.2800,1.3000,1.4600,1.4800,1.5600,1.7900,1.6800,1.7300,1.9600
2,Algeria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.2200,2.9900,3.1900,3.1600,3.4200,3.3000,3.2900,3.4600,3.5100,3.7200
3,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.3000,6.7500,6.5200,6.4300,6.1200,6.1200,5.8700,5.9200,5.9000,5.8300
4,Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.9800,1.1000,1.2000,1.1800,1.2300,1.2400,1.2500,1.3300,1.2500,1.2900
5,Antigua and Barbuda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.8100,4.9100,5.1400,5.1900,5.4500,5.5400,5.3600,5.4200,5.3600,5.3800
6,Argentina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.1400,4.4300,4.3800,4.6800,4.4100,4.5600,4.6000,4.5700,4.4600,4.7500
7,Armenia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.4600,1.4800,1.7300,1.9100,1.5100,1.4700,1.7100,1.9800,1.9000,1.9000
8,Australia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.3000,17.8000,17.8000,18.1000,18.2000,17.7000,17.4000,17.0000,16.1000,15.4000
9,Austria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0517,NaN,...,8.9900,8.7100,8.3900,8.2800,7.4900,8.0300,7.6900,7.3100,7.2800,6.8000
10,Azerbaijan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.0200,4.5400,3.5000,4.0200,3.5700,3.4000,3.6600,3.8400,3.8000,3.9400
11,Bahamas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.2900,4.9600,4.9400,4.2900,4.6300,4.5800,5.0900,5.2900,7.4300,6.3200
12,Bahrain,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.6000,19.6000,25.9000,26.7000,23.8000,23.6000,22.4000,20.5000,23.8000,23.4000
13,Bangladesh,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2750,0.3000,0.3020,0.3330,0.3570,0.3940,0.4120,0.4330,0.4420,0.4590
14,Barbados,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.9400,4.9900,4.9400,5.8400,5.8100,5.2900,5.4500,5.2200,5.1300,4.4900
15,Belarus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.1500,6.4800,6.3500,6.6400,6.4500,6.6500,6.7700,6.6700,6.7300,6.6900
16,Belgium,NaN,NaN,2.02,NaN,NaN,NaN,NaN,NaN,NaN,...,10.3000,10.1000,9.6800,9.6900,9.2000,10.1000,9.0800,8.5800,8.7000,8.3200
17,Belize,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.4900,1.5300,1.6000,1.4300,1.8700,1.6800,1.8300,1.4200,1.4900,1.4100
18,Benin,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.3000,0.4710,0.5320,0.5070,0.5210,0.5530,0.5600,0.5620,0.5810,0.6140
19,Bhutan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.6030,0.5840,0.5710,0.6020,0.5440,0.6700,0.9900,1.0900,1.2000,1.2900
20,Bolivia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.3400,1.6200,1.3100,1.3800,1.4300,1.5300,1.6000,1.8400,1.8200,1.9300
21,Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.2900,4.6500,4.6800,5.3500,5.5300,5.7200,6.4800,6.1000,6.0800,6.2300
22,Botswana,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.2100,2.2000,2.2100,2.3200,1.9000,2.3300,2.0400,2.0300,2.4600,3.2400
23,Brazil,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.8600,1.8400,1.9000,2.0100,1.8800,2.1300,2.2100,2.3400,2.4900,2.5900
24,Brunei,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.7000,13.1000,22.5000,24.0000,20.5000,21.1000,24.6000,24.2000,19.2000,22.1000
25,Bulgaria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.2400,6.4300,6.9100,6.7600,5.7200,5.9600,6.7100,6.1200,5.4500,5.8700
26,Burkina Faso,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0839,0.0984,0.1160,0.1310,0.1280,0.1260,0.1380,0.1590,0.1790,0.1620
27,Burundi,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0208,0.0244,0.0236,0.0232,0.0225,0.0243,0.0268,0.0303,0.0302,0.0445
28,Cambodia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2090,0.2230,0.2530,0.2810,0.3300,0.3500,0.3580,0.3690,0.3730,0.4380
29,Cameroon,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2120,0.2160,0.3170,0.2930,0.3460,0.3400,0.2810,0.2910,0.3130,0.3150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
160,St. Lucia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.2400,2.2200,2.3000,2.3400,2.2500,2.3400,2.3400,2.3300,2.3200,2.3100
161,St. Vincent and the Grenadines,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0200,2.0200,2.0800,2.0800,2.8500,2.0100,1.8100,2.3100,1.9100,1.9100
162,Sudan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.3550,0.3800,0.4380,0.4530,0.4620,0.4640,0.4450,0.4070,0.4200,0.4070
163,Suriname,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.2000,3.4600,3.4600,3.7700,3.8500,4.5700,3.7000,4.2100,3.5300,3.6300
164,Swaziland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.9220,0.9070,0.9340,0.9460,0.8850,0.8630,0.8560,0.9670,0.8570,0.9290
165,Sweden,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.7000,5.4500,5.2400,5.3200,4.6200,5.5400,5.4700,4.9300,4.6600,4.4800
166,Switzerland,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.5800,5.5900,5.0200,5.2800,5.3800,4.9800,4.6600,4.7000,4.9500,4.2900
167,Syria,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.7700,2.8300,3.3900,3.3300,2.9900,2.9300,2.7300,2.1900,1.8400,1.6000
168,Tajikistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.3560,0.3800,0.4520,0.3970,0.3280,0.3330,0.3010,0.3670,0.4260,0.6200
169,Tanzania,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.1400,0.1480,0.1410,0.1420,0.1330,0.1540,0.1700,0.1940,0.2210,0.2210
170,Thailand,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.7800,3.8300,3.8100,3.7900,4.0000,4.1900,4.1200,4.3700,4.4000,4.6200
171,Timor-Leste,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.1710,0.1710,0.1720,0.1870,0.2080,0.2120,0.2170,0.2540,0.3720,0.3870
172,Togo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2360,0.2090,0.2350,0.2730,0.4400,0.4060,0.3690,0.3620,0.3770,0.3630
173,Tonga,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1300,1.2600,1.1100,1.1700,1.2700,1.1300,0.9820,1.0100,1.0800,1.1400
174,Trinidad and Tobago,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.4000,32.7000,34.7000,33.7000,34.0000,36.1000,35.2000,33.9000,34.5000,34.2000
175,Tunisia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.2400,2.2500,2.3400,2.3900,2.3600,2.6000,2.4200,2.4800,2.5100,2.5900
176,Turkey,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.5000,3.8000,4.0900,4.0300,3.8900,4.1200,4.3700,4.4200,4.2900,4.4900
177,Turkmenistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10.2000,10.3000,11.5000,11.5000,10.1000,11.3000,12.1000,12.3000,12.4000,12.5000
178,Tuvalu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1000,0.7230,1.0700,1.0600,1.0500,0.6960,0.6900,1.0300,1.0200,1.0100
179,Uganda,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.0761,0.0859,0.0945,0.1010,0.1030,0.1160,0.1220,0.1120,0.1300,0.1350
180,Ukraine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,7.1200,7.0000,6.9300,6.7300,5.6600,6.6500,6.2800,6.5200,6.0300,5.0600
181,United Arab Emirates,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.4000,23.6000,22.4000,22.8000,21.9000,19.4000,19.1000,19.8000,19.0000,23.3000
184,Uruguay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.7400,2.0000,1.8000,2.4700,2.4000,1.8900,2.2900,2.5600,2.2300,1.9700
185,Uzbekistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.4200,4.4700,4.4000,4.4700,3.8100,3.6400,3.9100,3.9200,3.4400,3.4500
186,Vanuatu,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.2800,0.2220,0.4500,0.4230,0.5240,0.5120,0.5460,0.4590,0.4200,0.5950
187,Venezuela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.1600,6.2200,5.8100,6.3600,6.2900,6.5100,6.0000,6.6500,6.0700,6.0300
188,Vietnam,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.1600,1.2100,1.2200,1.3600,1.4700,1.6100,1.7000,1.5700,1.6100,1.8000
189,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.9740,1.0100,0.9640,0.9990,1.0700,0.9930,0.8110,0.7490,0.9970,0.8650
190,Zambia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.1900,0.1850,0.1520,0.1660,0.1860,0.1940,0.2060,0.2490,0.2610,0.2880
191,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.8320,0.7960,0.7420,0.5730,0.4060,0.5520,0.6650,0.5300,0.7760,0.7800

In [22]:
# fill in the null values along each row
df_co2.loc[:,'1800':] = df_co2.loc[:,'1800':].interpolate(axis=1, limit_direction='both')
df_co2.head()

,country,1800,1801,1802,1803,1804,1805,1806,1807,1808,...,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014
0,Afghanistan,0.00191,0.00191,0.00191,0.00191,0.00191,0.00191,0.00191,0.00191,0.00191,...,0.0529,0.0637,0.0854,0.154,0.242,0.294,0.412,0.35,0.316,0.299
1,Albania,0.00711,0.00711,0.00711,0.00711,0.00711,0.00711,0.00711,0.00711,0.00711,...,1.3800,1.2800,1.3000,1.460,1.480,1.560,1.790,1.68,1.730,1.960
2,Algeria,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,0.00000,...,3.2200,2.9900,3.1900,3.160,3.420,3.300,3.290,3.46,3.510,3.720
3,Andorra,7.47000,7.47000,7.47000,7.47000,7.47000,7.47000,7.47000,7.47000,7.47000,...,7.3000,6.7500,6.5200,6.430,6.120,6.120,5.870,5.92,5.900,5.830
4,Angola,0.04110,0.04110,0.04110,0.04110,0.04110,0.04110,0.04110,0.04110,0.04110,...,0.9800,1.1000,1.2000,1.180,1.230,1.240,1.250,1.33,1.250,1.290

In [23]:
# check for null values
df_co2[df_co2['1800'].isnull()]

Empty DataFrame
Columns: [country, 1800, 1801, 1802, 1803, 1804, 1805, 1806, 1807, 1808, 1809, 1810, 1811, 1812, 1813, 1814, 1815, 1816, 1817, 1818, 1819, 1820, 1821, 1822, 1823, 1824, 1825, 1826, 1827, 1828, 1829, 1830, 1831, 1832, 1833, 1834, 1835, 1836, 1837, 1838, 1839, 1840, 1841, 1842, 1843, 1844, 1845, 1846, 1847, 1848, 1849, 1850, 1851, 1852, 1853, 1854, 1855, 1856, 1857, 1858, 1859, 1860, 1861, 1862, 1863, 1864, 1865, 1866, 1867, 1868, 1869, 1870, 1871, 1872, 1873, 1874, 1875, 1876, 1877, 1878, 1879, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887, 1888, 1889, 1890, 1891, 1892, 1893, 1894, 1895, 1896, 1897, 1898, ...]
Index: []

[0 rows x 216 columns]

Now that we have all of our data imported and some intuition, let's combine them into one DataFrame.

### Data Cleaning

#### Dropping Extra Years
From our previous exploration, we have data starting from 1800 and ending in various years.  The CO2 emissions dataset ends the earliest at 2014.

In this next section, we will drop all years from 2014 onwards from the life expectancy and income datasets.

In [24]:
# creating list of columns for the income and life expectancy datasets to drop
years_inc = list(map(str, range(2015, 2041)))
years_le = list(map(str, range(2015, 2019)))

In [25]:
# dropping the columns for the datasets
df_inc.drop(columns=years_inc, axis=1, inplace=True)
df_le.drop(columns=years_le, axis=1, inplace=True)

In [26]:
# check to make sure all columns are the same
(df_inc.columns == df_le.columns).all(), (df_inc.columns == df_co2.columns).all()

(True, True)

#### Dropping Extra Countries
As noted earlier, each set of data has a different amount of rows and columns.  Let's find the rows that are missing from each data set.

In [27]:
# create a list of countries from each dataset
le_countries = df_le['country'].values
inc_countries = df_inc['country'].values
co2_countries = df_co2['country'].values

In [28]:
# how many rows do we have for each dataset?
le_countries.shape, inc_countries.shape, co2_countries.shape

((187,), (193,), (192,))

It looks like the income dataset has 6 more countries than the life expectancy dataset.  The CO2 emissions dataset has 5 more countries than the life expectancy dataset.

Let's find the names of the countries that are missing.

In [29]:
# create list of different countries
different_inc = []
different_co2 = []

# append the list when a country in the income dataset is not found in the other two datasets
for country in inc_countries:
    if country not in le_countries:
        different_inc.append(country)
        
for country in co2_countries:
    if country not in le_countries:
        different_co2.append(country)

# remove any duplicates by converting the list into a dictionary and back into a list.
different_inc = list(dict.fromkeys(different_inc))
different_co2 = list(dict.fromkeys(different_co2))

different_inc, different_co2

(['Monaco', 'Nauru', 'Palau', 'San Marino', 'St. Kitts and Nevis', 'Tuvalu'],
 ['Liechtenstein', 'Nauru', 'Palau', 'St. Kitts and Nevis', 'Tuvalu'])

Now that we know the country names that are different, let's find their indices so we can drop them.

In [30]:
# create index of different countries
index_diff_inc = []
index_diff_co2 = []

# append the index to the list when we find the country name
for country in df_inc['country']:
    if country in different_inc:
        index_diff_inc.append(df_inc.index[df_inc['country'] == country][0])

for country in df_co2['country']:
    if country in different_co2:
        index_diff_co2.append(df_co2.index[df_co2['country'] == country][0])

index_diff_inc, index_diff_co2

([111, 118, 129, 143, 160, 179], [96, 118, 129, 159, 178])

Now that we have the index location of the countries not in the life expectancy dataset, we will drop them from the income and CO2 datasets.

In [31]:
# drop the countries not in the life expectancy dataset.
df_inc.drop(index_diff_inc, inplace=True)
df_co2.drop(index_diff_co2, inplace=True)

Let's check that all the countries are now the same for all datasets:

In [32]:
# when we dropped the rows, we changed the index to a list of ints.
# here we will reset the indices so we can compare the countries in the next line.
df_inc.reset_index(inplace=True), df_co2.reset_index(inplace=True)

# check if all country names are the same
(df_le['country'] == df_inc['country']).all(), (df_le['country'] == df_co2['country']).all(),

(True, True)

<a id='eda'></a>
## Exploratory Data Analysis

> **Tip**: Now that you've trimmed and cleaned your data, you're ready to move on to exploration. Compute statistics and create visualizations with the goal of addressing the research questions that you posed in the Introduction section. It is recommended that you be systematic with your approach. Look at one variable at a time, and then follow it up by looking at relationships between variables.

### Research Question 1 (Replace this header name!)

In [33]:
# Use this, and more code cells, to explore your data. Don't forget to add
#   Markdown cells to document your observations and findings.

### Research Question 2  (Replace this header name!)

In [34]:
# Continue to explore the data to address your additional research
#   questions. Add more headers as needed if you have more questions to
#   investigate.

<a id='conclusions'></a>
## Conclusions

> **Tip**: Finally, summarize your findings and the results that have been performed. Make sure that you are clear with regards to the limitations of your exploration. If you haven't done any statistical tests, do not imply any statistical conclusions. And make sure you avoid implying causation from correlation!

> **Tip**: Once you are satisfied with your work, you should save a copy of the report in HTML or PDF form via the **File** > **Download as** submenu. Before exporting your report, check over it to make sure that the flow of the report is complete. You should probably remove all of the "Tip" quotes like this one so that the presentation is as tidy as possible. Congratulations!